/* gunmetal: #333745;
--cultured: #fcfafa;
--nadeshiko-pink: #efa8b8;*/

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 600px;
    margin: auto;
}

header {
    color: #efa8b8;
    background-color: #333745;
    text-align: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 200px 400px;
    grid-template-rows: 200px;
    width: 600px;
    border-radius: 10px;
    margin-top: 30px;
}

header img {
    width: 150px;
    align-self: center;
    grid-column: 1/2;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #efa8b8;
}

header h1 {
    align-self: center;
    grid-column: 2/3;
    font-size: 3em;
    font-family: 'Dekko', cursive;
}

h2, ul, p, footer {
    font-family: 'Exo', sans-serif;
}

main{
    margin:15px;
}

h2 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px;
}

nav ul {
    justify-self: left;
    margin-left: 35px;
    margin-bottom: 20px;
}

main p {
    border-radius: 5px;
    box-shadow: 0px -5px;
    padding-top: 5px;
    font-size: .8em;
    font-style: italic;
}

footer {
    background-color: #333745;
    border-radius: 10px;
    color: #efa8b8;
    margin-top: 50px;
    padding: 20px;
    display: block;
    text-align: center;
}

footer p {
    padding: 5px;
}

#updated {
    color: #fcfafa;
}