@media only screen and (min-width: 32.5em) {
    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    header h1 {
        font-size: 3em;
        padding:10px;
        }
    h2 {
        font-size: 1.5em;
    }
}