@media only screen and (min-width: 900px) {

    header {
        height: auto;
    }

    nav {
        display: unset;
        grid-row: 2/3;
        grid-column:1/4;
        padding:10px;
    }

    nav ul.open, nav ul {
        display: flex;
        flex-direction: row;
        border: 1px solid #6b0504;
        position: unset;
    }

    #headSec1 {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 120px 50px;
    }

    #menuBtn {
        display: none;
    }

    #primaryNav {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        background-color: #6b0504;
    }

    #newsSectSmall {
        display: none;
    }

    #headerLogo {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #headerLogo img {
        margin-left: 20px;
    }

    #headerTitle {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #socialicons {
        grid-row: 1/2;
        grid-column: 3/4;
        justify-self: center;
    }

    #socialicons a:hover {
        border: 5px solid #e6af2e;
        border-radius: 50%;
    }

    #headSec1 nav {
        border:none;
    }

    #joinSect {
        height: unset;
    }

    #headSec1 nav ul li {
        background-color: #a3320b;
        border: 1px solid #e6af2e;
    }

    #primaryNav li:hover {
        background-color: #e6af2e;
    }

    #headSec1 nav ul li a {
        border: none;
        color: white;
    }

    #headSec1 nav ul li a:hover {
        background-color: #e6af2e;
        color: black;
    }

    /* #headSec1 div:nth-child(3) {
        order: 4;
    } */
    
    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 600px;
    }

    main div {
        margin: 5px;
    }

    #mainSect1 {
        flex: 2;
        order: 2;
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }

    #mainSect1 section:nth-child(1) {
        height: 310px;
    }

    #mainSect2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        order: 1;
    }

    #mainSect2 section:nth-child(1) {
        order: 1;
        margin: 0px;
        flex-basis: unset;
        margin-bottom: 10px;
    }

    #mainSect2 section:nth-child(2) {
        order: 2;
        margin: 0px;
        flex-basis: unset;
        margin-bottom: 10px;
    }

    #mainSect2 section:nth-child(3) {
        order: 3;
        margin: 0px;
    }

    #spotlightSect {
        flex: 1;
        order: 3;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    #spotlightSect div:nth-child(1) {
        order: 1;
        margin: 0px;
    }

    #spotlightSect div:nth-child(2) {
        order: 2;
        margin: 0px;
    }

    #spotlightSect div:nth-child(3) {
        order: 3;
        margin: 0px;
        text-align: start;
        display: block;
    }

    


}