h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

picture {
    margin: 20px;
}

#desktop {
    width: 80%;
    border: 1px solid black;
}

#tablet {
    width: 60%;
}

#mobile {
    width: 40%;
}

img {
    width: 100%;
}